<% if object && object.errors.size > 0 %>
  <div class="alert alert-danger">
    <button class="close" data-dismiss="alert">×</button>
    <p class="header"><strong><%= t(:check_fields) %></strong></p>
    <ul class="list">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
