<%= render "devise/shared/linkedin_logo" %>

<a href="/auth/twitter">
  <img src="https://s3-us-west-2.amazonaws.com/fm.ethan.jason/twitter_signin.png" alt="Sign in with LinkedIn" width="250" height="70" border="0">
</a>

<%= link_to "Upload Resume", new_resume_path, class: "btn btn-primary" %>